@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
}

.container {
   width: 100%;
   height: 100vh;
   background-color: #000;
   display: flex;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
   align-items: center;

   .wrapper {
      width: 550px;
      height: fit-content;
      background-color: #111;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;


      header {
         display: flex;
         align-items: center;
         height: 50px;
         border-radius: 10px;
         overflow: hidden;


         .input {
            width: 90%;
            height: 100%;
            outline: none;
            border: 0;
            padding: 0 10px;
            font-size: 18px;
            cursor: auto;
         }

         button {
            width: 120px;
            height: 100%;
            font-size: 22px;
            cursor: pointer;
            background-color: #fff;
         }
      }

      .main {
         display: flex;
         flex-direction: column;
         gap: 20px;

         .range-box {
            display: flex;
            color: #fff;
            justify-content: space-between;

            h3 {
               font-size: 25px;
            }

            .range-value {
               font-size: 30px;
            }
         }

         #range {
            cursor: pointer;
         }

         .settings {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .item {
               height: 40px;
               display: flex;
               align-items: center;
               gap: 20px;
               font-size: 24px;
               color: #ddd;
               cursor: pointer;
               user-select: none;
            }
         }

         .generete-btn {
            height: 60px;
            border-radius: 10px;
            font-size: 30px;
         }
      }
   }
}